@import '../scss/index';

.create {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $light-gray;

  .create-steps {
  }

  .create-group {
    margin: .5rem 0 2rem;
    padding: 2rem 0;
    background-color: #fff;

    .create-title {
      margin-bottom: 1rem;
      text-align: center;
      color: $gray;
    }

    input {
      width: 100%;
    }

    .p-col-3 {
      line-height: 30px;
    }

    .p-col-8 {
      padding-left: 0;
    }

    .group-title {
      .form-title {
        height: 40px;
        font-size: 1.2rem;
      }
    }

    .group-thumbnail {
      small {
        display: block;
        color: $danger;
      }

      .form-thumbnail {
        width: 100%;
        margin-bottom: .5rem;

        & + img {
          width: 100%;
        }
      }
    }

    .group-screenshot {
      margin-top: 4rem;

      .screenshot-model {
        width: 50vw;

        @media only screen and (max-width: $screen-md) {
          width: 90vw;
        }
      }

      div > button {
        margin-right: .5rem;
      }

      .model-row {
        margin-bottom: .5rem;

        > label {
          display: block;
          margin-top: .75rem;
          font-size: 16px;
        }

        > input {
          margin: .5rem 0;
        }

        > span {
          display: block;
          margin-top: .15rem;

          b {
            color: $danger;
          }
        }
      }

      .form-screenshot {
        margin-top: .25rem;
        width: 100%;
      }

      .model-add {
        width: 100%;
      }

      .youtube-container {
        position: relative;
        width: 100%;
        height: 400px;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .group-preview {
    > div {
      flex-flow: wrap;
      justify-content: flex-start;
      display: flex;
    }

    img {
      margin: .25rem;
      height: 300px;
    }

    .youtube-container {
      position: relative;
      margin: .25rem;
      width: 100%;
      height: 300px;
      // padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .create-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem auto 0;
    padding-top: 1.8rem;
    max-width: 500px;
    border-top: 2px solid $light-gray;

    @media only screen and (max-width: $screen-md) {
      flex-flow: column;
      padding-top: .25rem;

      a {
        margin-top: 1rem;
        width: 100%;
      }
    }

    .create-control-button {
      width: 200px;
      height: 40px;

      @media only screen and (max-width: $screen-md) {
        margin-top: 1rem;
        width: 100%;
      }
    }
  }

  /* overwrite */
  .p-menuitem-link:focus {
    box-shadow: none !important;
  }

  .p-grid {
    margin: .75rem auto;
    max-width: 600px;
  }
}
