@import '../scss/index';

.detail {
  display: flex;
  margin-top: $header-height;
  background-image: url('../images/bg.jpg');

  .detail-author {
    margin: .25rem 0;
    padding: 0;
    border: none;
    color: #fff;
    background-color: transparent;

    a:first-child {
      &::before {
        content: '@';
      }
      color: $warning;

      &:hover {
        text-decoration: underline;
      }
    }

    .detail-button {
      margin-left: .25rem;
      color: $light-warning;
      cursor: pointer;
    }

    .p-toolbar-group-right {
      display: flex;
      align-items: center;

      span {
        display: block;
        margin: 0 .75rem 0 .25rem;
      }
    }
  }

  .detail-title {
    padding-left: .25rem;
    color: $warning;
    background-color: rgba($dark, .85);
    border: 2px solid $black;
    z-index: 100;

    h2 {
      margin-top: .25rem;
    }

    @media only screen and (min-width: $screen-xl) {
      position: sticky;
      top: -26px;
    }
  }

  .detail-description {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    color: $light-warning;
    background-color: rgba($dark, .85);
    border: 2px solid $black;
    border-radius: 3px;

    .detail-description-title {
      margin-bottom: .25rem;
    }
  }

  .detaild-tabmenu {
    margin-top: 1.5rem;

    .p-tabmenu-nav {
      border-bottom-color: $dark;
    }
  }

  .detail-content {
    padding: .5rem 2rem;
    color: #fff;
    background-color: rgba($dark, .85);
    border: 2px solid $black;
    border-top: none;
    border-radius: 0 0 3px 3px;
  }

  .section {
    margin: 1.5rem 0;
  }

  .detail-image {
    img {
      border: 2px solid $gray;
    }
  }

  .detail-code {
    p {
      color: $light-warning;
    }

    b::after {
      content: '=';
      padding: 0 1rem;
    }

    code {
      color: $light-gray;
    }
  }

  .detail-items {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;

    th {
      color: $light-warning;
    }

    th,
    td {
      padding: .5rem 0;
      border-bottom: 1px solid $light-gray;
    }

    td:nth-child(1) {
      color: $warning;
    }

    thead,
    tbody {
      border-bottom: 1px solid #fff;
    }
  }

  .youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    border: 2px solid $gray;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .detail-footer {
    padding: 1rem;
    background-color: rgba($dark, .85);
    border: 2px solid $black;
    border-top: 0;
    text-align: center;
  }
}

