@import '../scss/index';

.detail {
  display: flex;
  margin-top: $header-height;
  background-image: url('../images/bg.jpg');

  .detail-author {
    margin: .25rem 0;
    padding: 0;
    border: none;
    color: $gray;

    a:hover {
      text-decoration: underline;
    }

    .detail-button {
      margin-left: .25rem;
      cursor: pointer;

      &[datatype=edit] {
        color: $success;
      }

      &[datatype=delete] {
        color: $danger;
      }
    }

    .p-toolbar-group-right {
      display: flex;
      align-items: center;

      span {
        display: block;
        margin: 0 .75rem 0 .25rem;
      }
    }
  }

  .detail-title {
    padding-left: .25rem;
    color: $dark;
    background-color: #fff;
    z-index: 100;

    @media only screen and (min-width: $screen-xl) {
      position: sticky;
      top: -26px;
    }
  }

  .detail-description {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;

    .detail-description-title {
      margin-bottom: .25rem;
    }
  }

  .detaild-tabmenu {
    margin-top: 1.5rem;
  }

  .detail-content {
    padding: .5rem 2rem;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-top: none;
    border-radius: 0 0 3px 3px;
  }

  .section {
    margin: 1.5rem 0;
  }

  .youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .detail-footer {
    margin-top: 1rem;
    text-align: center;
  }
}

