@import '../scss/index';

.home {
  display: flex;
  margin-top: $header-height;

  .card-tag {
    display: flex;
    align-items: center;
    margin-right: .5rem;
    color: $primary;

    span {
      margin: 0 .15rem 0 .25rem;
    }
  }

  .search {
    margin: 1rem 0;
  }
}

/* overwrite */
.p-card-content {
  display: flex;
  flex-flow: row-reverse;
}
