@import '../scss/index';

.home {
  display: flex;
  margin-top: $header-height;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  background-image: url('../images/bg.jpg');

  .lazy-image {
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity 1s linear;

      &.loaded {
        opacity: 1;
      }

      &.lazy-image-before {
        filter: blur(20px);
        /* this is needed so Safari keeps sharp edges */
        transform: scale(1);
      }
    }
  }

  .card-group {
    padding: .75rem;
    background-color: rgba($dark, .85);
    border: 2px solid $black;
  }

  .card-item {
    border: 2px solid $gray;
    background-color: $light-black;
  }

  .card-title {
    display: flex;
  }

  .card-image {
    position: relative;
    min-height: 115px;
  }

  .card-counts {
    display: flex;

    div {
      display: flex;
      align-items: center;
      margin-right: .5rem;
      color: #fff;
    }

    span {
      margin: 0 .15rem 0 .25rem;
    }
  }

  /* overwrite */
  .p-card-content {
    display: flex;
    flex-flow: row-reverse;
  }

  .p-card-title {
    overflow: hidden;
    color: $light-warning;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-card-subtitle {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;

    &::before {
      content: '@';
    }
  }

  .p-paginator {
    background-color: transparent;
    border: none;

    .p-disabled {
      color: #fff;
      opacity: .8;
    }
  }
}
