@import '../scss/index';

.login {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;

  .login-form {
    margin-top: 5rem;
    width: 500px;
    height: 220px;
    text-align: center;
    background-color: $dark;
    border: 2px solid $gray;

    .login-title {
      padding: 1.5rem 0;
      margin-bottom: 2rem;
      color: #fff;
      border-bottom: 1px solid $gray;
      font-family: Arial, Helvetica, sans-serif;
    }

    .login-google {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: .5rem 1rem;
      width: 350px;
      color: #fff;
      background-color: $danger-google;
      border: 3px solid $light-gray;
      border-radius: .25rem;
      cursor: pointer;
      user-select: none;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: lighten($danger-google, 3);

        .login-google-icon {
          transform: rotate(-10deg);
        }
      }

      .login-google-icon {
        display: block;
        font-size: 2.5rem;
        transition: all .2s ease-in-out;
      }

      .login-google-text {
        margin-left: 1.8rem;
        display: block;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}
