@import '../scss/index';

.profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;

  .profile-form {
    margin-top: 2rem;
    padding: 1rem 0;
    overflow: hidden;
    width: $screen-lg;
    height: calc(90vh - #{$header-height});
    text-align: center;
    background-color: $dark;
    border: 2px solid $gray;

    .profile-name {
      padding-bottom: 1rem;
      margin-bottom: .5rem;
      color: #fff;
      border-bottom: 1px solid $gray;
      user-select: none;

      &::before {
        content: '@';
      }
    }

    .profile-list-container {
      overflow: auto;
      padding-bottom: 1.5rem;
      height: 100%;
    }

    .profile-list {
      margin: 0 auto;
      width: 90%;
      border-collapse: collapse;
      color: #fff;

      th,
      td {
        padding: .75rem .5rem;

        a {
          color: $primary;
          opacity: .8;

          &:hover {
            opacity: 1;
          }
        }
      }

      thead,
      tbody {
        border-bottom: 1px solid #fff;
      }

      .profile-list-control div > * {
        margin-right: .25rem;
        cursor: pointer;
        opacity: .8;

        &:hover {
          opacity: 1;
        }

        &:first-child {
          color: $success;
        }

        &:last-child {
          color: $danger;
        }
      }
    }
  }
}
