@import '../scss/index';

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $header-height;
  text-align: left;
  background-color: rgba($light-black, .95);
  border-bottom: 2px solid $black;
  z-index: 999;

  .menu-button {
    // display: inline-block;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: $header-height;
    height: $header-height;
    font-size: 24px;
    line-height: $header-height;
    text-align: center;
    cursor: pointer;
    -o-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;

    > i {
      line-height: inherit;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .logo-img {
      width: 50px;
    }

    .logo-title {
      margin-left: 5px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }

  .mobile-menu {
    display: none;

    @media only screen and (max-width: $screen-lg) {
      display: inline;
      margin-right: 1rem;
    }
  }

  .topbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 0;
    padding: 0;
    height: 100%;
    list-style-type: none;

    @media only screen and (max-width: $screen-lg) {
      display: none;
    }

    > li {
      display: inline-block;
      height: 100%;

      .flag-group {
        display: flex;
        justify-content: left;
        align-items: center;

        .flag-name {
          margin-left: 5px;
        }
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 60px;
        height: 100%;
        color: #fff;
        text-decoration: none;
        transition: background-color .2s;
        -o-transition: background-color .2s;
        -webkit-transition: background-color .2s;
        cursor: pointer;

        &:hover {
          background-color: $gray;
        }
      }
    }
  }
}
