@import '../scss/index';

.home-menu {
  /* overwrite */

  .item-title {
    color: $light-warning;
  }

  .p-fieldset {
    border: 1px solid $light-warning;
    background-color: $dark;
    margin-bottom: 1rem;
  }
}

