@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import '~primereact/resources/themes/nova-light/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~flag-icon-css/css/flag-icon.min.css';
@import './scss/index';

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
