@import '../scss/index';

.menu {
  display: block;
  padding: 2rem 1.5rem;
  overflow-y: auto;
  width: $menu-width;
  height: calc(100vh - #{$header-height});
  text-align: left;
  color: #fff;
  background-color: rgba($dark, .5);
  border: 2px solid $black;
  border-top: 0;

  @media only screen and (max-width: $screen-lg) {
    display: none;
  }

  .menu-title {
    color: $warning;
    margin-bottom: 2rem;
  }

  .item {
    position: relative;
    margin-bottom: 1rem;

    .item-title {
      margin-bottom: .15rem;
    }

    .item-group {
      display: flex;
      justify-content: left;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
      }

      span {
        margin-left: .5rem;
      }
    }
  }

  /* overwrite */
  .p-dropdown .p-dropdown-panel {
    top: 30px !important;
  }
}
